# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Build outputs
x64/
Debug/
Release/
out/
build/
*.obj
*.pch
*.iobj
*.ipdb
*.exp
*.lib
*.pdb
*.dll
*.recipe
*.FileListAbsolute.txt

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
